# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Coverage
*.out

# Development files
.git
.gitignore
Dockerfile
docker-compose.yml

# IDE files
.vscode
.idea
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db